
@{
    ViewData["Title"] = "DoViewOrderDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <h1 class="text-center m-b-50">Order Detail</h1>

    <div class="order-info">
        <p>ID: @ViewBag.order.Id</p>
        <p>Name: @ViewBag.order.CustomerName </p>
        <p>Phone: @ViewBag.order.CustomerPhone</p>
        <p>Address: @ViewBag.order.CustomerAddress</p>
        <p>Staff: @ViewBag.order.Staff.Fullname</p>
        <p>Date: @ViewBag.order.OrderDate</p>
        <p>Total: @ViewBag.order.TotalAmount VND</p>
    </div>

    <div class="row">
        <div class="col-md-12">
            <table id="myTable" class="display" style="width:100%;">
                <thead>
                    <tr>
                        <th>Product name</th>
                        <th>Quantity</th>
                        <th>Sell price</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (OrderDetail order in ViewBag.orderdetails)
                    {
                        <tr>
                            <td>@order.Product.Name</td>
                            <td>@order.Quantity</td>
                            <td>@order.SellPrice</td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>

</div>



